{% extends "_main.html" %}
{% block content %}
    <h2>Foyer</h2>
    <p>You walk inside and find yourself in a large foyer. No one seems to be here. Suddenly, the door locks itself behind you. You hear a strange noise coming from somewhere else on this floor. What do you do next?</p>
    <ul>
      <li><a href="2enterexplore.html">Explore the foyer.</a></li>
      <li><a href="2enterback.html">Go to the back room.</a></li>
      <li><a href="3upstairs.html">Go upstairs.</a></li>
    </ul>
{% endblock %}
