{% extends "_main.html" %}
{% block content %}
    <h2>The Internet</h2>
    <p>Amanda becomes frustrated and logs you into the Internet anyway. She then hacks into Sean's Unholy Triple Hexagon Vessel and places you in one of its corridors. Click the button below to continue, and make sure you keep dialogs enabled throughout this portion of the game. If you do disable dialogs for some reason, <a target="_blank" href="4internetalt.html">open this page in a new tab</a>.</p>
    <noscript>Activate JavaScript to fight evil!</noscript>
    <button type="button" onclick="runMain()">Explore!</button>
    <br>
    <br>
    <p><small>Cheesy synthy background music by <a target="_blank" href="http://cyber-rainforce.net/english.html#1">Cyber-Rainforce</a></small></p>
    <audio src="http://cyber-rainforce.net/MP3/2012/cyrf_hornet.mp3" autoplay="autoplay" loop="loop" controls="controls">If you can see this, your browser doesn't support HTML5's audio tag.</audio>
    <script type="text/javascript" src="game2.js"></script>
{% endblock %}
