{% extends "_main.html" %}
{% block content %}
    <h2>The Internet</h2>
    <p>As you are ejected from the Sacred Deity Vessel, you see Sean crawling out of the wreckage of his Unholy Triple Hexagon Vessel. Sean shouts some curses and points a loaded Unholy Projectile Launching Device at you.</p>
    <ul>
      <li><a href="/pocketknife.html">Brandish your pocketknife.</a></li>
      <li><a href="/gameover.html">Channel the infinite power of friendship.</a></li>
      <li><a href="/gameover.html">Turn off the Internet.</a></li>
      <li><a href="/4internetcont2.html">Throw the Sacred Deity Vessel at Sean.</a></li>
    </ul>
{% endblock %}
