{% extends "_main.html" %}
{% block extra %}
    <style type="text/css">
      html {
        overflow-y: scroll;
      }
    </style>
{% endblock %}
{% block content %}
    <h1>About</h1>
    <a href="http://ahuanguchi.github.io" target="_blank"><img src="/assets/chords.png" alt="/assets/chords.png"></a>
    <p>My name is Alex, and sometimes I like to waste my free time coding. Most of this website is a text-based game with a simple <a target="_blank" href="https://en.wikipedia.org/wiki/Shoot_%27em_up#Bullet_hell_and_niche_appeal">bullet hell</a> game inside the game. Make decisions by clicking on links. If you need to save your progress, bookmark whatever page you're on. In general, just try not to die too much.</p>
    <p>For those who are interested, I used Python and <a target="_blank" href="http://jinja.pocoo.org/">Jinja</a> templates to generate the static HTML files, and I wrote the interactive pages using plain JavaScript, p5.js, AngularJS, and Flocking.</p>
    <p>You can also find links to some of my other personal projects on the <a href="/music.html">Music</a> and <a href="/other.html">Other Coding</a> pages.</p>
    <p>If you have any comments, share them below. And if you have a Neocities account, you can also post a message on my <a target="_blank" href="https://neocities.org/site/d-m-adventure">profile page</a> and follow this site. Have fun!</p>
    <ul>
      <li><a href="https://github.com/ahuanguchi/d-m-adventure" target="_blank">Source code for this site</a></li>
      <li><a href="http://ahuanguchi.github.io" target="_blank">My personal website</a></li>
      <li><a href="javascript: window.history.back()">Back</a></li>
    </ul>
    <div class="fb-comments" data-href="https://d-m-adventure.neocities.org/about.html" data-colorscheme="dark"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
