{% extends "_main.html" %}
{% block content %}
    <h1>About</h1>
    <p>This is a text-based game with a simple <a target="_blank" href="http://en.wikipedia.org/wiki/Shoot_%27em_up#Bullet_hell_and_niche_appeal">bullet hell</a> game inside the game that I wrote. Make decisions by clicking on links. To save your progress, bookmark whatever page you're on. In general, just try not to die too much. If you have any comments, share them below. Have fun!</p>
    <p><a href="https://github.com/ahuanguchi/d-m-adventure" target="_blank">Source code</a></p>
    <p><a href="javascript: window.history.back()">Back</a></p>
    <div class="fb-comments" data-href="https://d-m-adventure.neocities.org/about.html" data-numposts="5" data-colorscheme="dark"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
