{% extends "_alt.html" %}
{% block all_active %} class="active"{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>All Games</h2>
        <p>You can find all of the web games I've made here. I hope you enjoy them!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>D-M Adventure</h3>
          <p>This is a ridiculous text-based game that I made to amuse my friends. The game also has non-text-based portions. Avoid death and try to get to the ending.</p>
          <p><a href="index.html" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="right" title="Restarting is fun!">Play</a></p>
          <br>
        </div>
        <div class="col-md-3">
          <h3>Danmaku Interwebs</h3>
          <p>This is a bullet hell game (2D shooter with lots of bullets) that I spent many precious hours coding. It was originally part of D-M Adventure but is equally <strike>infuriating</strike> fun on its own. Please be persistent and don't give up after being killed a few <small>(dozen)</small> times.</p>
          <p><a href="danmaku.html" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="right" title="Small hitboxes are great, huh?">Play</a></p>
          <br>
        </div>
        <div class="col-md-3">
          <h3>Rock-Paper-Scissors Coup</h3>
          <p>This is a simple game that I made slightly less random. It's marginally related to the previous two games.</p>
          <p><a href="rps.html" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="right" title="Agh, stop switching, computer!">Play</a></p>
          <br>
        </div>
        <div class="col-md-3">
          <h3>Caesar Cipher</h3>
          <p>Share cryptographically insecure messages with your friends and crack them by brute force! For extra fun, feed my application single-word messages and "decrypt" them by brute force to find words that can become other words after being encrypted.</p>
          <p><a href="http://caesarcipher.pythonanywhere.com/" target="_blank" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="right" title="Obviously, don't use this to encrypt sensitive information.">Go</a></p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <br>
          <img src="home_img.png" alt="home_img.png" width="80%" class="img-responsive">
        </div>
        <div class="col-md-3">
          <br>
          <img src="danmaku_img.png" alt="danmaku_img.png" width="70%" class="img-responsive">
        </div>
        <div class="col-md-3">
          <br>
          <img src="rps_img.png" alt="rps_img.png" width="50%" class="img-responsive">
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <hr>
      <footer>
        <p>If you have any comments, questions, or suggestions, <a href="about.html">click here</a> to share them.</p>
      </footer>
    </div>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script>
      $(function () {
        $("[data-toggle='tooltip']").tooltip();
      });
      (function() {
        var cx = '005941409925897679272:mcp6alaubra';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
{% endblock %}
