{% extends "_main.html" %}
{% block redirect %}
    <style type="text/css">
      html {
        overflow-y: scroll;
      }
      label, select, .formrow {
        display: block;
      }
      .textinput {
        width: 100%;
        max-width: 400px;
      }
      #resultsbox {
        width: 100%;
        min-height: 60px;
        max-width: 600px;
        padding: 2px 8px;
        background-color: #fff;
        color: #000;
      }
      #app {
        margin: 0 auto;
        max-width: 600px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="caesarcipher.js?v=4"></script>
{% endblock %}
{% block content %}
    <div ng-app="app" ng-controller="AppController as vm" id="app">
      <h2>Caesar Cipher Encrypter/Decrypter</h2>
      <form ng-submit="vm.update()">
        <label>Message:</label>
        <div class="formrow">
          <input type="text" ng-model="vm.message" ng-change="vm.update()" class="textinput">
          <button ng-click="vm.message = ''">clear</button>
        </div>
        <br>
        <label>Key (for shifting letters):</label>
        <select ng-model="vm.key" ng-change="vm.update()">
          <option value="brute">brute force</option>
          {% for i in range(1, 26) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <br>
        <label>Conversion:</label>
        <select ng-model="vm.conversion" ng-change="vm.update()">
          <option value="decrypt">decrypt</option>
          <option value="encrypt">encrypt</option>
        </select>
      </form>
      <br>
      {% raw %}
        <p>Result(s):</p>
        <div id="resultsbox">
          <ul ng-if="vm.message">
            <li ng-repeat="result in vm.results track by $index">{{ result }}</li>
          </ul>
        </div>
      {% endraw %}
      <br>
      <label>Permalink for this conversion:</label>
      <input type="text" ng-model="vm.permalink" class="textinput" onclick="this.select()" readonly>
      <p>Vocabulary based on the <a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict">CMUdict</a></p>
    </div>
{% endblock %}
