{% extends "_main.html" %}
{% block content %}
    <h1>Music</h1>
    <p>In addition to coding, I also spend my free time making music. And coding things that can make music. Here are some music-related applications and sketches that I've written in <a href="https://processing.org/" target="_blank">Processing</a>. Your browser may give you a warning when you try to download a file with the .jar extension. You can safely ignore it and keep the file. To run executable JAR files, you may need to update or download <a href="https://java.com/en/download/" target="_blank">Java.</a></p>
    <h2>RibbonSynth</h2>
    <p>This application lets you use your mouse to control a synthesizer on your screen! You can use your keyboard to pick different waveforms, enable/disable quantizing pitches to semitones, and record the output.</p>
    <ul>
      <li><a href="https://drive.google.com/open?id=0B3uQeNRjyF5jTC10a0NjU2VqaTQ&authuser=0" target="_blank">Application</a></li>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/RibbonSynth" target="_blank">Source code</a></li>
    </ul>
    <h2>KeyboardSynth</h2>
    <p>Turn your computer keyboard into a musical keyboard! You can change octaves easily and choose from the same set of waveforms available in RibbonSynth.</p>
    <ul>
      <li><a href="https://drive.google.com/open?id=0B3uQeNRjyF5jbUtQTDBqaGl0WUk&authuser=0" target="_blank">Application</a></li>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/KeyboardSynth" target="_blank">Source code</a></li>
    </ul>
    <h2>MusicWriter</h2>
    <p>This is just a Processing sketch with some functions that I wrote to make it easier to use <a href="http://code.compartmental.net/minim/index.html" target="_blank">Minim</a> to compose chiptune-style music. Save the contents of MusicWriter.pde as a sketch, create a new tab, write a function for changing the playback settings and scheduling notes (following the examples that you see in the demo pieces), and call your function in the playPiece function at the bottom of the main tab.</p>
    <ul>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/MusicWriter" target="_blank">Source code</a></li>
    </ul>
{% endblock %}
