{% extends "_main.html" %}
{% block content %}
    <h1>Music</h1>
    <p>In addition to coding silly things, I also spend my free time making music and coding things that can make music. Here are some music-related applications and sketches that I've written in <a href="https://processing.org/" target="_blank">Processing</a> and JavaScript (using <a href="http://p5js.org/" target="_blank">p5.js</a>). There are some differences between the web and downloadable versions because Processing and p5.js use separate sound libraries. For best performance, consider using Chrome or Opera for the web versions.</a>
    <p>If you use Chrome, your browser may give you a warning if you try to download a file with the .jar extension. You can safely ignore it and keep the file. To run my JAR files, you may need to update or download the <a href="https://java.com/en/download/" target="_blank">Java Runtime Environment</a>.</p>
    <p>If you're a Processing/Java or JavaScript programmer, feel free to play around with my source code!</p>
    <br>
    <h2>RibbonSynth</h2>
    <img src="RibbonSynth.png" alt="RibbonSynth.png">
    <p>Use your mouse to control a synthesizer on your screen! You can use your computer keyboard to pick different waveforms, enable/disable quantizing pitches to semitones, and record the output.</p>
    <ul>
      <li><a href="ribbonsynth.html">Web application</a></li>
      <li><a href="https://github.com/ahuanguchi/p5js-projects/tree/master/ribbonsynth" target="_blank">JavaScript source code</a></li>
      <li><a href="http://s3.staticvoidgames.com/games/RibbonSynth/RibbonSynth.jar" target="_blank">Downloadable application</a> (5.6 MB)</li>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/RibbonSynth" target="_blank">Processing source code</a></li>
    </ul>
    <h2>KeyboardSynth</h2>
    <img src="KeyboardSynth.png" alt="KeyboardSynth.png">
    <p>Turn your computer keyboard into a synthesizer keyboard! You can change octaves easily and choose from the same set of waveforms available in RibbonSynth.</p>
    <ul>
      <li><a href="keyboardsynth.html">Web application</a></li>
      <li><a href="https://github.com/ahuanguchi/p5js-projects/tree/master/keyboardsynth" target="_blank">JavaScript source code</a></li>
      <li><a href="http://s3.staticvoidgames.com/games/KeyboardSynth/KeyboardSynth.jar" target="_blank">Downloadable application</a> (5.6 MB)</li>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/KeyboardSynth" target="_blank">Processing source code</a></li>
    </ul>
    <h2>MusicWriter</h2>
    <p>This is just a Processing sketch with some functions that I wrote to make it easier to use <a href="http://code.compartmental.net/minim/index.html" target="_blank">Minim</a>, which comes bundled with Processing, to compose and record chiptune-style music. Save the contents of MusicWriter.pde as a sketch, create a new tab, write a function for changing the playback settings and scheduling notes (following the examples that you see in the demo pieces), and call your function in the playPiece function at the bottom of the main tab.</p>
    <ul>
      <li><a href="https://github.com/ahuanguchi/processing-projects/tree/master/MusicWriter" target="_blank">Processing source code</a></li>
    </ul>
    <br>
    <p>You can also find my applications on <a href="http://staticvoidgames.com/members/dmadventure" target="_blank">Static Void Games</a>, which is where the JAR files are hosted.</p>
{% endblock %}
