{% extends "_main.html" %}
{% block content %}
    <h1>Other Things</h1>
    <p>These are some other random things I've programmed.</p>
    <ul>
      <li>Caesar Cipher Encrypter/Decrypter:
        <ul>
          <li><a href="caesarcipher.html">JavaScript (AngularJS) version</a></li>
          <li><a href="http://caesarcipher.pythonanywhere.com/" target="_blank">Python (Flask) version</a></li>
        </ul>
      </li>
      <br>
      <li>
        <a href="https://d-m-adventure.neocities.org/rps.html">Slightly Modified Rock-Paper-Scissors</a>
      </li>
    </ul>
{% endblock %}
