{% extends "_main.html" %}
{% block game_body_id %} id="gamebody"{% endblock %}
{% block content %}
    <h1>RibbonSynth</h1>
    <p>Use your mouse to play. Horizontal movement changes the pitch, and vertical movement changes the volume. Press 1-5 to change the waveform (p5.sound's implementation of pulse wave oscillators is buggy, so 5 may not work as expected). Hold O to go up an octave. Press Q to toggle pitch quantization. Press R to toggle recording.</p>
    <script language="javascript" src="p5.min.js?v=1"></script>
    <script language="javascript" src="p5.sound.min.js?v=1"></script>
    <script language="javascript" src="ribbonsynth.js?v=3"></script>
  </body>
{% endblock %}
