{% extends "_main.html" %}
{% block game_body_id %} id="gamebody"{% endblock %}
{% block content %}
    <h1>RibbonSynth</h1>
    <p>Use your mouse to play. Press 1-5 to change the waveform (p5.sound's implementation of pulse wave oscillators is buggy, so 5 may not work as expected). Hold O to go up an octave. Press Q to toggle pitch quantization.</p>
    <script language="javascript" src="p5.min.js"></script>
    <script language="javascript" src="p5.sound.min.js"></script>
    <script language="javascript" src="ribbonsynth.js"></script>
  </body>
{% endblock %}
